body {
  font-family: 'Roboto', sans-serif;
  color: #555;
}

.blog_title {
  padding-top: 0px;
  padding-bottom: 20px;
  margin-left: 20px;
}

.blog_title h1 {
  margin-bottom: 5px;
}

.blog_title h2 {
  margin-top: 3px;
  font-size: 100%;
  font-weight: normal;
}

h1 {
  color: #333;
	text-shadow: 0.5px 0.5px 0.5px #bbb;
  font-weight: normal;
}

.blog_title a,
.grid_3 a {
  color: inherit;
}

.blog_title a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  overflow: hidden;
}

blockquote {
  font-style: italic;
  font-weight: lighter;
  border-left: 3px solid #ccc;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

blockquote p {
  display: inline;
}

.grid_3 h3 {
  color: #333;
  font-weight: normal;
}


.grid_3 ul {
  padding-left: 10px;
  list-style-type: none;
}

.grid_3 li {
  margin-top: 7px;
  margin-bottom: 7px;
}

.grid_3 .search_form {
  margin-top: 50px;
}

.grid_3 .archive_all li {
  margin-top: 10px;
}

footer {
  padding-top: 20px;
  text-align: center;
  font-style: italic;
}

.page_bottom {
  margin-top: 100px;
}
