/*
 * Base theme. 
 */
body {
    font-family: 'Roboto', sans-serif;
    color: #ddd;
    background-color: rgb(17,16,16);
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #fcc;
}
h1,
h2,
h3,
h4 {
    font-weight: lighter;
    color: #f64;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
    text-decoration: none;
    color: inherit;
}
.blog_title {
    padding-top: 0px;
    padding-bottom: 20px;
    margin-left: 20px;
}

.blog_title h1 small {
    color: #ddd;
    font-weight: lighter;
    display: block;
}

.blog_title h1 {
    margin-bottom: 5px;
}

.entry_list_header h3 {
    color: inherit;
}

.entry_list_header .query_string,
.entry_list_header .category_string {
    font-style: italic;
}

.entry p a {
    text-decoration: underline;
}

.entry_comment h3,
.entry_comment h4 {
    color: inherit;
}

/*
 * side bar
 */
.grid_3 ul {
    padding-left: 10px;
    list-style-type: none;
}

.grid_3 li {
    margin-top: 7px;
    margin-bottom: 7px;
}

.grid_3 .search_form {
    margin-top: 50px;
}

.grid_3 .archive_all li {
    margin-top: 10px;
}

/*
 * Page footer
 */

.page_bottom {
    margin-top: 100px;
}
