@import pane-layout
@import top-pane
@import main-pane
@import sidebar
@import bottom-pane
@import archive
@import night-skiing-color

/*
 * Some universal theme across the panes.
 */
body
    font-family: 'Roboto', sans-serif

h1,
h2,
h3,
h4 
    font-weight: lighter

.gravatar img
    border-radius: 50% 50% 50% 50%

a
    color: inherit
    text-decoration: none

