/*
 * Basic grid layout.
 * 12 container with 9/3 grids.
 */
$desktop-min: 1080px

#top-pane
    margin-bottom: 1em

.main-container
    margin: 0 auto
    max-width: 960px

#sidebar
    @media screen and (min-width: $desktop-min)
        box-sizing: border-box
        float: left
        width: 30%

#main-pane
    @media screen and (min-width: $desktop-min)
        box-sizing: border-box
        float: left
        width: 70%
    p
        line-height: 120%
        letter-spacing: 0.1em

.clear 
    clear: both
    display: block
    overflow: hidden
    visibility: hidden
    width: 0
    height: 0

.page_bottom
    margin-top: 3em

