/*
 * Defines the layout of the top-pane (header)
 */
#top-pane
    #top-pane-inner
        padding: 1em 2em
        max-width: 960px
        margin: auto

        small
            font-weight: lighter
            display: block

