<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/grid.css' %}"/>
  <link rel="icon" type="image/jpg" href="{% static 'blog/favicon.jpg' %}">
  <title>{% block title %}{{ blog.name }}{% endblock %}</title>
</head>

<body>
<header class="blog_title">
  <h1><a href="{% url 'blog:index' %}">{{ blog.name }}</a></h1>
  <h2>{{ blog.description }}</h2>
</header>

<div class="container_12">
  <div class="grid_9">
    {% block contents %}
    {% endblock %}
  </div>
  <!-- end .grid_9 -->

  <div class="grid_3">
    {% block sidebar %}
    <h3>category</h3>
      {% for cat in categories %}
      <ul>
        <li><a href="{% url 'blog:category_by_name' cat.name %}">{{ cat }}</a></li>
      </ul>
      {% endfor %}
    <h3>archive</h3>
      {% for entry in all_entries %}
        <ul>
          <li><a href="{% url 'blog:entry_by_slug' entry.slug %}">{{ entry }}</a></li>
        </ul>
      {% endfor %}
    {% endblock %}
  </div>
  <!-- end .grid_3 -->

</div>
<!-- end .container_12 -->
<div class="clear"></div>

<footer>
  ----
</footer>
</body>
