{% extends "blog/base.html" %}

{% block title %}{{ blog.name }}{% endblock %}

{% block contents %}
{% if entries %}
{% for entry in entries %}
<div class="entry">
  <h2><a href="{% url 'blog:entry_by_slug' entry.slug %}">{{ entry.title }}</a></h2>
  <p>{{ entry.content|safe }}</p>
  <footer class="entry_footer">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hirogwa.net/blog" data-text="sampletext">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <small>posted {{ entry.spaced_date }} on
      <a href="{% url 'blog:category_by_name' entry.category %}">{{ entry.category }}</a>
    </small>
  </footer>
</div>
{% endfor %}
{% else %}
<p>No entries are available.</p>
{% endif %}

<div class="pagination">
  <span class="step-links">
    {% if entries.has_previous %}
      <a href="?page={{ entries.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">{{ entries.number }} of {{ entries.paginator.num_pages }}</span>

    {% if entries.has_next %}
      <a href="?page={{ entries.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>


<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hirogwa.net/blog" data-text="sampletext">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

{% endblock %}
