{% extends "blog/entrylist.html" %}

{% block entry_footer %}
<div id="entry_comments">
  <div class="existing_comments">
    {% for comment in comments %}
    <header>
      <div class="gravatar">
        <img src="{{ comment.gravatar_url }}" alt="gravatar">
      </div>
      <div class="text">
        <h3 id="{{ comment.anchor_id }}">{{ comment.author }}</h3>
        <span class="pub_date utc-datetime"><a href="{{ request.get_full_path }}#{{ comment.anchor_id }}">{{ comment.spaced_datetime }}</a></span>
      </div>
    </header>
    <p>{{ comment.content|linebreaks }}</p>
    {% endfor %}
  </div>
  <div class="add_comment">
    <h3 id="add_comment">add comment</h3>
    <form class="comment_form" method="post" action="{% url 'blog:entry' entries.0.id %}">
      {% csrf_token %}
      <div class="comment_author comment_input_area">
        <input id="author" type="text" required name="author" placeholder="Name (required)"/>
      </div>
      <div class="comment_email comment_input_area">
        <input id="email" type="email" required name="email" placeholder="Email (required, will not be published)" />
      </div>
      <div class="comment_content comment_input_area">
        <label for="content"></label>
        <textarea id="content" type="text" aria-required="true" name="content" placeholder="Comment..."></textarea>
      </div>
      <div class="comment_submit comment_input_area">
        <input id="submit" type="submit" value="post comment" name="submit" />
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block entry_list_footer %}
{% endblock %}
