{% extends "blog/base.html" %}

{% block dependencies %}
<div id="fb-root">
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId={{ blog.facebook_app_id }}&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
</div>
{% endblock %}

{% block contents %}

<div class="entry_list_header">
{% block entry_list_header %}
{% endblock %}
</div>

{% if entries %}
{% for entry in entries %}
<div class="entry">
  <header>
    <h2>
      <a href="{% url 'blog:entry_by_slug' entry.slug %}">{{ entry.title }}</a>
    </h2>
    <span id="episode_comment_link">
      <a href="{% url 'blog:entry_by_slug' entry.slug %}#entry_comments">
        <i>
        {% if not blog.disqus_shortname %}
          {% if entry.comment_count == 0 %}
            leave a comment
          {% elif entry.comment_count == 1 %}
            1 comment
          {% else %}
            {{ entry.comment_count }} comments
          {% endif %}
        {% else %}
          comments
        {% endif %}
        </i>
      </a>
    </span>
  </header>
  <article>
  <p>{{ entry.content|safe }}</p>
  </article>
  <footer class="entry_footer">
  <div id="entry_footer_inner">
    <div class="pub_info">
      <small class="utc-datetime">{{ entry.spaced_datetime }}</small>
      <small>
        in <a href="{% url 'blog:category_by_name' entry.category %}">{{ entry.category }}</a>
      </small>
      {% if entry.tags %}
      <small>
        , tagged
        {% for tag in entry.tags %}
        <a href="{% url 'blog:tag' tag.name %}">{{ tag.name }}</a>
        {% endfor %}
      </small>
      {% endif %}
    </div>
    <div class="social_buttons">
      <div class="fb-like" data-href="{% url 'blog:entry_by_slug' entry.slug %}" data-layout="button_count" data-width="30px" data-action="like" data-show-faces="false" data-share="true"></div>
      <div class="twitter_share">
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-url="http://{{ host }}{% url 'blog:entry_by_slug' entry.slug %}" data-text="{{ entry.title }}">Tweet</a>
      </div>
      <span class="footer_clear"></span>
    </div>
    <span class="footer_clear"></span>
  </div>
  </footer>
</div>

{% block entry_footer %}
{% endblock %}

{% endfor %}
{% else %}
<p>No entries are available.</p>
{% endif %}

{% block entry_list_footer %}
<div class="pagination">
<span class="step-links">
  {% block pagination %}

  {% if entries.has_previous %}
    <a href="?page={{ entries.previous_page_number }}">previous</a>
  {% endif %}
  <span class="current">{{ entries.number }} of {{ entries.paginator.num_pages }}</span>
  {% if entries.has_next %}
    <a href="?page={{ entries.next_page_number }}">next</a>
  {% endif %}

  {% endblock %}
</span>
</div>
{% endblock %}

{% endblock %}
